@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model IEnumerable<aspnetmvc3.Models.User>
<h2>Index</h2>

<table>
    <tr>
        <th>User ID</th>
        <th>User Name</th>
        <th>Email Address</th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>@item.UserID</td>
            <td>@item.UserName</td>
            <td>@item.EmailAddress</td>

        </tr>
    }

</table>
